# Python Rest API GET call - receive data as json

The below example will show how to make a Rest API call over HTTP using Python. The response from the API call will be a JSON dataset, which I will load into a Pandas DataFrame.

Store the full URL to make the API call

In [1]:
url='http://dummy.restapiexample.com/api/v1/employees'

requests will allow us to fetch/ post data over http. We will begin by importing the library

In [2]:
import requests

Now, I will issue the get command using the url, we can also specify auth=('user', 'pass') in this step

In [3]:
response=requests.get(url)

In [4]:
response.status_code

200

200 status means the get request was successful.
Refer to the link https://www.restapitutorial.com/httpstatuscodes.html for the list of HTTP status codes

request library has an inbuilt json loader. We will store the response in json format into a variable. The output will be a list of dictionaries.

In [5]:
in_data=response.json()

In [6]:
print("Number of input records: ",len(in_data))
print("---"*5)
print("Here is the topmost record \n\n",in_data[0])

Number of input records:  2504
---------------
Here is the topmost record

 {'id': '66983', 'employee_name': 'test_gk_unique4', 'employee_salary': '123', 'employee_age': '23', 'profile_image': ''}

Now I will save the first record into a list. Using list comprehension loop thru all keys (id, employee_name, employee_salary, employee_age,profile_image) and fetch the value of the data records using the dictionary.get() statement. Similary, we can loop through all data rows if need be.

In [7]:
dict_record=in_data[0]
[dict_record.get(x) for x in list(dict_record.keys())]

['66983', 'test_gk_unique4', '123', '23', '']

I think the better option for data analysis is to use Pandas. Lets import the Pandas and build a dataframe using the dictionary

In [8]:
import pandas as pd
df=pd.DataFrame(in_data)

Lets inspect the size of the dataframe using df.shape and view the top 10 rows

In [9]:
print(df.shape)
df.head()

(2504, 5)

,employee_age,employee_name,employee_salary,id,profile_image
0,23,test_gk_unique4,123,66983,
1,23,abcdefg,123,67028,
2,23,test_gk_unique + generateRandomNos() +,123,67055,
3,23,test_gk_unique692,123,67067,
4,23,test_gk_unique958,123,67069,

The employee_name at row - 4 seems to be funky, seems there is some noise in the data :)